@import "reset";
@import "variables/gloabal";
@import "themes/light";
@import "themes/dark";
@import "storybook";

body,
.app {
    font: var(--font-md);
    background: var(--bg-color-1);
    color: var(--text-1);
    min-height: 100vh;
}

h1 {
    font: var(--font-h1);
}

h2 {
    font: var(--font-h2);
}

h3 {
    font: var(--font-h3);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 24px;
}
