@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");

:root {
    // цвета
    --error-main: #fe4c4c;
    --error-secondary: #ffebeb;
    --error-text: #cc2626;
    --warning-main: #fcb73e;
    --warning-secondary: #fff0bc;
    --warning-text: #d97e00;

    // типография
    --font-family-main: inter, "Times New Roman", sans-serif;
    --font-size-lg: 18px;
    --font-line-lg: 24px;
    --font-lg: var(--font-size-lg) / var(--font-line-lg) var(--font-family-main);
    --font-size-md: 16px;
    --font-line-md: 22px;
    --font-md: var(--font-size-md) / var(--font-line-md) var(--font-family-main); // main text
    --font-size-sm: 14px;
    --font-line-sm: 20px;
    --font-sm: var(--font-size-sm) / var(--font-line-sm) var(--font-family-main);
    --font-size-h1: 40px;
    --font-line-h1: 48px;
    --font-h1: var(--font-size-h1) / var(--font-line-h1) var(--font-family-main);
    --font-size-h2: 32px;
    --font-line-h2: 40px;
    --font-h2: var(--font-size-h2) / var(--font-line-h2) var(--font-family-main);
    --font-size-h3: 24px;
    --font-line-h3: 32px;
    --font-h3: var(--font-size-h3) / var(--font-line-h3) var(--font-family-main);
    --font-size-h4: 20px;
    --font-line-h4: 28px;
    --font-h4: var(--font-size-h4) / var(--font-line-h4) var(--font-family-main);

    // размеры
    --navbar-height: 56px;
    --sidebar-width: 288px;
    --sidebar-width-collapsed: 88px;
    --control-border-width: 1px;
    --control-height-large: 48px;
    --control-height-medium: 40px;
    --control-height-small: 32px;
    --control-padding-y-large: 11px;
    --control-padding-y-medium: 8px;
    --control-padding-y-small: 5px;
    --control-font-large: var(--font-lg);
    --control-font-medium: var(--font-md);
    --control-font-small: var(--font-sm);
    --control-outline-width: 2px;
    --btn-icon-padding-large: 12px;
    --btn-icon-padding-medium: 10px;
    --btn-icon-padding-small: 8px;
    --btn-icon-gap-large: 8px;
    --btn-icon-gap-medium: 6px;
    --btn-icon-gap-small: 4px;
    --input-border-radius: 2px;
    --select-border-radius: 2px;

    // z- индексы
    --modal-z-index: 10;
    --transition-timing: 0.1s;
    --transition-fucntion: cubic-bezier(0.5, 1, 0.89, 1);
}
