@use "app/styles/mixins" as mixins;

.Button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    border-style: none;
    transition: background-color var(--transition-timing) var(--transition-fucntion);

    &:disabled {
        cursor: auto;
        pointer-events: none;
        background: var(--btn-disabled-bg);
        color: var(--btn-disabled-text-color);
        box-shadow: var(--btn-disabled-border-color) 0 0 0 var(--control-border-width);
    }
}

// Варианты тем кнопок
$variants: ([default, primary, text, backless]);

@each $variant in $variants {
    .#{$variant} {
        @include mixins.button-variant($variant);
    }
}

// Размеры кнопок
$sizes: ([small, medium, large]);

@each $size in $sizes {
    .#{$size} {
        @include mixins.button-size($size);

        &.withIcon {
            padding-left: var(--btn-icon-padding-#{$size});
            padding-right: var(--btn-icon-padding-#{$size});
        }
    }
}
