@mixin common {
    /* COMMON */
    --bg-color-1: #fdfdfd; // App background
    --bg-color-2: #fafafa; // Subtle background
    --comp-bg-1: #f1f1f1; // UI element background
    --comp-bg-2: #e8e8e8; // Hovered UI element background
    --comp-bg-3: #dedede; // Active / Selected UI element background
    --border-1: #d2d2d2; // Subtle borders and separators
    --border-2: #c3c3c3; // UI element border and focus rings
    --border-3: #aeaeae; // Hovered UI element border
    --solid-1: #3d3d3d; // Solid backgrounds
    --solid-2: #4e4e4e; // Hovered solid backgrounds
    --text-1: #222; // Main text
    --text-2: #757575; // Additional text
    --text-3: #adadad; // Additional text with low contrast
    --color-contrast: #fff;
}
